@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@400;700&display=swap');
body{
    font-family: 'Noto Sans Display', sans-serif;
}
.container{
    padding: 1rem;
}
.sub-container{
    max-width: 600px;
    margin: auto;
    text-align: center;
    background-color: rgb(124, 235, 235);
    display: block;
    padding: 0.5rem;
    border-radius: 1rem;
}
label{
    text-align: center;
    display: block;
    padding: 0.5rem;
    font-weight: bold;  
}
input{
    display: block;
    margin: auto;
    width: 30%;
    height: 10%;
    padding: 0.5rem;
    border-radius: 1rem;
    border: transparent;
}
button{
    padding: 0.5rem;
    margin-top: 20px;
    color: white;
    background-color:rgb(61, 141, 141) ;
    border-radius: 0.5rem;
    border: transparent;
    font-weight: bold;
    
}
p{
    text-align: center;
    font-weight: bold;
}