@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@400;700&display=swap');
body{
    font-family: 'Noto Sans Display', sans-serif;
}
.container{
    padding: 1rem;
}
.sub-container{
    max-width: 600px;
    margin: auto;
    text-align: center;
    background-color: aqua;
    display: block;
    padding: 0.5rem;
    border-radius: 1rem;
}
label{
    text-align: center;
    display: block;
}
input{
    display: block;
    margin: auto;
}